p{
  color: red;
  border-bottom:1px solid red;
  font-size: 16px;
  font-family:"El Messiri";
  border-radius: 5px;
  text-transform: lowercase;
  padding: 5px;
}

::ng-deep mat-snack-bar-container{
  background-color: #FFF;
}

::ng-deep .mat-mdc-snack-bar-label{
  background-color: #FFF;
  width: 100%;
}
