.card{
  font-family: 'El Messiri';
  transform: translate(0,50%);
  width: 50%;
  margin: auto;
}
.navbar {
  background-color: rgba($color: #000000, $alpha: .85);
  height: 70px;
}
.navbar a {
  color: #FFF;
  font-family: 'El Messiri';
}
.navbar .nav-item a {
  font-size: 18px;
}

