<div class="login">
    <div class="container">
        <div class="row">
            <h2>Login</h2>
            <div class="details-user">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="label">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="example12312@gmail.com"
                        formControlName="email"/>
                    </div>
                    <div class="label">
                        <label for="password">password</label>
                        <input [type]="passwordType" name="password-value" id="password" #password
                            placeholder="Ex 1234556" formControlName="password"/>
                    </div>
                    <div class="label py-0 show">
                        <input type=checkbox id="showPassword" name="showPassword"
                            (click)="togglePasswordVisibility()" />
                        <label for="showPassword" class="m-0">show password</label>
                    </div>
                    <button type="submit" class="btn btn-success my-4">login</button>
                </form>
                <div>
                    <ul class="list-unstyled">
                        <li>Do you have Account ? <a routerLink="/register">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ending user page -->
